.row-header{
    margin:0px auto;
    padding:0px;
    color: rgb(228, 58, 15); 
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: hsla(180, 74%, 52%, 0.233);
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: rgb(231, 154, 60);
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color: rgba(52, 252, 102, 0.884);
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}